a {
  color: darkslateblue;
}

ul {
  list-style-type: square;
  padding-left: 5%;
}

ol {
  list-style-type: lower-roman;
  padding-left: 7%;
}

hr {
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-title {
  font-weight: 600;
  margin-bottom: 0px;
}

strong {
  font-style: oblique;
  font-size: 105%;
  color: rgb(60, 60, 60);
}

.card {
  background-color: rgb(230, 230, 230);
  margin-bottom: 5px;
}

.card .card-body ul {
  list-style-type: none;
  font-size: 90%;
}

.container {
  background-color: rgb(240, 235, 240);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}

.heading-style {
  color: rgb(60, 60, 60);
  font-family: sans-serif;
  font-weight: lighter;
}

.top-link-bar {
  color: rgb(60, 60, 60);
  padding-left: 10px;
}

.top-link-bar a {
  padding-right: 20px;
}

body {
    background-color: black;
    background-image: url("../img/modular.jpg");
}

#headshot {
  float: right;
  border: 2px solid rgb(60, 60, 60);
  width: 30%;
  margin-left: 5px;
}