ul {
  list-style-type: square;
  padding-left: 5%;
}

ol {
  list-style-type: lower-roman;
  padding-left: 7%;
}

strong {
  font-style: oblique;
  font-size: 110%;
}

.card {
  background-color: rgb(240, 240, 240);
}

.card .card-body ul {
  list-style-type: none;
}

.container {
  background-color: rgb(200, 215, 225);
  padding-top: 20px;
  padding-bottom: 40px;
}