a {
  color: darkslateblue;
}

ul {
  list-style-type: square;
  padding-left: 5%;
}

ol {
  list-style-type: lower-roman;
  padding-left: 7%;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-title {
  font-weight: 600;
  margin-bottom: 0px;
}

strong {
  font-style: oblique;
  font-size: 105%;
  color: rgb(60, 60, 60);
}

.card {
  background-color: rgb(230, 230, 230);
  margin-bottom: 5px;
}

.card .card-body ul {
  list-style-type: none;
  font-size: 90%;
}

.container {
  background-color: rgb(240, 235, 240);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}

.heading-style {
  color: rgb(60, 60, 60);
  font-family: sans-serif;
  font-weight: lighter;
}

#animated-name {
  animation-name: myname;
  animation-duration:  12s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-bottom: 2px;
}

@keyframes myname {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 40%;
    width: 50%;
  }
}

#animated-thisguy {
  animation-name: thisguy;
  animation-duration:  12s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0;
  float: right;
  margin-right: 5%;
  margin-bottom: 2px;
  font-family: monospace;
  font-weight: bolder;
}

@keyframes thisguy {
  from {
    opacity: 0;
  }
  85%, 88%, 91%, 94% {
    opacity: 0;
  }
  87%, 90%, 93% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}


.top-link-bar {
  color: rgb(60, 60, 60);
  padding-left: 10px;
}

.top-link-bar a {
  padding-right: 20px;
}

body {
    background-color: black;
    background-image: url("../img/modular.jpg");
}

.subtle {
  font-style: oblique;
  color: rgb(120, 120, 120);
  font-size: 90%;
}

#headshot {
  float: right;
  border: 2px solid rgb(60, 60, 60);
  width: 30%;
  margin-left: 5px;
}